

img {
    float: left;
    padding:10px;
    margin: 5px;
    word-wrap: normal;
}



footer {
   /* text-align: center;*/
    /*bottom: 0;
    background-color: grey;
    width: 100%;
    border-top: 10px solid; color: teal;
    height: 10%;
    padding-top: 20px;*/

   /* position: sticky;*/

}
