
.card{
    
}

img {
    float: left;
    margin: 5px;
}

.footwear{
    text-align: justify;
    font-size: 12px;
}

footer {
    text-align: center;
    bottom: 0;
    background-color: grey;
    width: 100%;
    border-top: 10px solid; color: teal;
    height: 10%;
    padding-top: 20px;
    position: sticky;

}
